.course-list-container {
    margin: 20px;
    text-align: center;
    max-height: 400px;
    overflow-y: auto; 
    text-align: center;
    background: linear-gradient(to bottom, #f2994a, #f2c94c);
    border-radius: 20px;
    
}
.course-table-title{
    color: white;
}
.course-table {
    width: 100%;
    border-collapse: collapse;
    
}
.empty-course-message{
   text-align: center;
  padding: 50px;
  color: #db3210cf;
  font-size: larger;
  font-weight: bold;
}

.course-table th, .course-table td {
    padding: 8px; 
    border: 1px solid #ddd;
    text-align: left;
}

.course-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.course-image {
    width: 80px; 
}

.edit-btn, .delete-btn {
    background-color: #4CAF50;
    color: white;
    padding: 6px 12px; 
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 3px; 
}

.delete-btn {
    background-color: #f44336;
}

@media (max-width: 600px) {
    .course-table th, .course-table td {
        padding: 6px;
    }

    .course-image {
        width: 60px;
    }

    .edit-btn, .delete-btn {
        padding: 4px 8px; 
        margin-right: 2px; 
    }
}
.loading-indicator {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
  }
  
