.course-list-container {
    margin: 20px;
    text-align: center; /* Center text */
    max-height: 400px; /* Set max height */
    overflow-y: auto; /* Add scrollbar when content exceeds max height */
    text-align: center;
    background: linear-gradient(to bottom, #f2994a, #f2c94c);
    border-radius: 20px;
    
}
.course-table-title{
    color: white;
}
.course-table {
    width: 100%;
    border-collapse: collapse;
    
}
.empty-course-message{
   text-align: center;
  padding: 50px;
  color: #db3210cf;
  font-size: larger;
  font-weight: bold;
}

.course-table th, .course-table td {
    padding: 8px; /* Decrease padding for smaller screens */
    border: 1px solid #ddd;
    text-align: left;
}

.course-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.course-image {
    width: 80px; /* Decrease image width for smaller screens */
}

.edit-btn, .delete-btn {
    background-color: #4CAF50;
    color: white;
    padding: 6px 12px; /* Decrease button padding for smaller screens */
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 3px; /* Decrease margin between buttons for smaller screens */
}

.delete-btn {
    background-color: #f44336;
}

@media (max-width: 600px) {
    .course-table th, .course-table td {
        padding: 6px; /* Further decrease padding for screens less than 600px */
    }

    .course-image {
        width: 60px; /* Further decrease image width for screens less than 600px */
    }

    .edit-btn, .delete-btn {
        padding: 4px 8px; /* Further decrease button padding for screens less than 600px */
        margin-right: 2px; /* Further decrease margin between buttons for screens less than 600px */
    }
}
